include ./utils/_mixin.pug
block variables

doctype html
html(lang="ru-RU")
  head
    meta(charset="utf-8")

    block page-title
      title #{title}

    include ./base/head
      block headScripts

      block style
        include base/style

  body(class=bodyClass)
    .wrapper
      include ./layout/header.pug
      main
        block content
      include ./layout/footer.pug

    script(src='js/vendor.min.js' defer)
    script(src='js/common.js' defer)
    block scripts
