

.home-page{}
.home-page__bg{}
.home-page__inner{}


.start{
    position: relative;
}
.start__bg{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #cef8ff;
}
.start__inner{
    position: relative;
    padding: 200px 0 200px 0;
}

.start__form{}
.start-form{
    position: relative;
    margin: 0 auto 100px auto;
    border: 1px solid #00c6e6;
    border-radius: 5px;
    padding: 5% 5% 5% 5%;
    max-width: 600px;
    width: 100%;
    background-color: #fff;
}
.start-form__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.start-form__head{
    margin: 0 0 20px 0;
    width: 100%;
    text-align: center;
}
.start-form__text-label{
    position: relative;
    margin: 0 0 20px 0;
    width: 100%;
}
.start-form__text-label-error{
    position: absolute;
    top: 5px;
    padding: 1px 0 5px 0;
    border-radius: 5px 5px 0 0;
    height: 23px;
    width: 100%;
    background-color: #ff7676;
    transform: translate(0, -100%);
    text-align: center;
    color: #ffffff;
}
.start-form__text-input{
    position: relative;
    border: 1px solid #00c6e6;
    border-radius: 5px;
    padding: 18px 16px 18px 16px;
    width: 100%;
    background-color: #fff;
}
.start-form__text-input_first-name{}
.start-form__text-input_last-name{}
.start-form__select{
    margin: 0 0 20px 0;
    width: calc(50% - 10px);
}
.start-form__select-error{
    position: absolute;
    top: 5px;
    padding: 1px 0 5px 0;
    border-radius: 5px 5px 0 0;
    height: 23px;
    width: 100%;
    background-color: #ff7676;
    transform: translate(0, -100%);
    text-align: center;
    color: #ffffff;
}
.start-form__select_gender{}
.start-form__select_is-child{}
.start-form__submit{
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    border-radius: 5px;
    padding: 18px 16px 18px 16px;
    width: calc(50% - 10px);
    background-color: #00c6e6;
    color: #ffffff;
    cursor: pointer;
}
.start-form__submit:hover{
    background-color: #01a8c3;
}

//CUSTOM-SELECT
.custom-select {
    position: relative;
}

.custom-select select {
    display: none;
}
.select-selected {
    border-radius: 5px;
    background-color: #00c6e6;
}
.select-selected:after {
    position: absolute;
    content: "";
    top: calc(50% + 3px);
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
    transform: translate(0, -50%);
}
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: calc(50% - 3px);
}
.select-items div,
.select-selected {
    position: relative;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    border-radius: 5px;
    padding: 18px 16px 18px 16px;
    background-color: #00c6e6;
    color: #ffffff;
    cursor: pointer;
}
.select-items {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}
.select-hide {
    display: none;
}
.select-items div:hover,
.same-as-selected {
    background-color: #01a8c3;
}

//CUSTOM-SELECT END