@media only screen and (max-width: 1366px){}

@media only screen and (max-width: 1280px){}

@media only screen and (max-width: 1200px){}

@media only screen and (max-width: 1024px){}

@media only screen and (max-width: 900px){}

@media only screen and (max-width: 825px){}

@media only screen and (max-width: 800px){}

@media only screen and (max-width: 768px){}

@media only screen and (max-width: 750px){}

@media only screen and (max-width: 720px){}

@media only screen and (max-width: 667px){}

@media only screen and (max-width: 568px){}

@media only screen and (max-width: 534px){}

@media only screen and (max-width: 480px){}

@media only screen and (max-width: 420px){}

@media only screen and (max-width: 380px){}

@media only screen and (min-width: 0px){}

@media only screen and (min-width: 1400px){}

@media only screen and (min-width: 1900px){}

/* Style for IE 10/11 */
@media only screen and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  html {
    display: flex;
    flex-direction: column;
  }
}