::-webkit-input-placeholder {
  color: inherit;
  opacity: 1;
  transition: opacity 300ms;
}

::-moz-placeholder {
  color: inherit;
  opacity: 1;
  transition: opacity 300ms;
}

:-moz-placeholder {
  color: inherit;
  opacity: 1;
  transition: opacity 300ms;
}

:-ms-input-placeholder {
  color: inherit;
  opacity: 1;
  transition: opacity 300ms;
}

:focus::-webkit-input-placeholder {
  opacity: 0;
}

:focus::-moz-placeholder {
  opacity: 0;
}

:focus:-moz-placeholder {
  opacity: 0;
}

:focus:-ms-input-placeholder {
  opacity: 0;
}

html{
  font-size: 62.5%; // 10/16=0.625
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body{
  width: 100%;
  height: 100%;
}

body{
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: Arial;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  text-rendering: optimizeLegibility;
  text-decoration-skip: objects;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  color: $color-black-main;
}
button,input,h1,h2,h3,h4,h5,h6,p,a,ul,li,div,span,table,thead,tbody,td{
  margin: 0;
  padding: 0;
  outline: 0 none;
  text-decoration: none;
  border: none;
  background-color: transparent;
  border-collapse: collapse;
  color: inherit;
}
li{
  list-style: none;
}
img{
  max-width: 100%;
  height: auto;
  line-height: 0;
}
textarea{
  resize: vertical;
}
a{
  color: $color-black-main;
}
a:active, a:focus, a:hover, a:link, a:visited {
  outline: 0 none;
}
*:focus {
  outline: 0 none;
}
iframe{
  display: block;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper{
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.container{
  margin: 0 auto;
  max-width: 1340px;
  padding: 0 30px 0 30px;
}