extends ../_template.pug

block variables
 - var title = ''
 - var bodyClass = 'home-page'

block content
    .home-page__bg
    .home-page__inner
        section.start
            .start__bg
            .container
                .start__inner
                    form.start__form.start-form
                        .start-form__container
                            h2.start-form__head Title
                            label.start-form__text-label
                                input.start-form__text-input.start-form__text-input_first-name(type="text" placeholder="First Name" required)
                            label.start-form__text-label
                                input.start-form__text-input.start-form__text-input_last-name(type="text" placeholder="Last Name" required)
                            .custom-select.start-form__select.start-form__select_gender
                                select(required)
                                    option(value="") Select gender:
                                    option(value="1") Female
                                    option(value="2") Male
                            .custom-select.start-form__select.start-form__select_is-child
                                select(required)
                                    option(value="") Are you of a legal age?
                                    option(value="1") Yes
                                    option(value="2") No
                            button.start-form__submit Submit
                    form.start__form.start-form
                        .start-form__container
                            h2.start-form__head Title
                            label.start-form__text-label
                                input.start-form__text-input.start-form__text-input_first-name(type="text" placeholder="First Name" required)
                            label.start-form__text-label
                                input.start-form__text-input.start-form__text-input_last-name(type="text" placeholder="Last Name" required)
                            .custom-select.start-form__select.start-form__select_gender
                                select(required)
                                    option(value="") Select gender:
                                    option(value="1") Female
                                    option(value="2") Male
                            .custom-select.start-form__select.start-form__select_is-child
                                select(required)
                                    option(value="") Are you of a legal age?
                                    option(value="1") Yes
                                    option(value="2") No
                            button.start-form__submit Submit
            
